{% extends 'base.html' %}
{% block head_title %}Магазин | Вход{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}

{% if  user.is_authenticated %}

 <div class="container">
 <div class="register-success">
     <p>{{ user.username }} Вы успешно вошли</p>
 </div>
  <div class="register-success"><a href="/">Вернуться на сайт</a></div>
    </div>
{% else %}
      <div class="row">
     <div class="col-md-5">
<form class="form-horizontal" action='/account/login/' method="POST">
    {% csrf_token %}
  <fieldset>
    <div id="legend">
      <legend class="">Вход</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
{#      <label class="control-label"  for="username">Username</label>#}
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="Username или email или телефон" class="input-xlarge form-control">
{#        <p class="help-block">Username can contain any letters or numbers, without spaces</p>#}
          <p class="errors">{{ form.username.errors }}</p>
      </div>
    </div>



    <div class="control-group">
      <!-- Password-->
{#      <label class="control-label" for="password">Password</label>#}
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Пароль"class="input-xlarge form-control">
{#        <p class="help-block">Password should be at least 4 characters</p>#}
             <p class="errors">{{ form.password1.errors }}</p>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Вход</button>
      </div>
    </div>
  </fieldset>
</form>

    </div>
    <div class="col-md-5">
 <legend class="">Войти через социальные сети</legend>
<a href="/account/facebook" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
            <i class="fa fa-facebook"></i> Войти через Facebook
</a>
<a href="/login/twitter" title="Vk" class="btn btn-block btn-social btn-lg btn-vk">
            <i class="fa fa-vk"></i> Войти через VK
</a>
<a href="/account/facebook" title="Twitter" class="btn btn-block btn-social btn-lg btn-twitter">
           <i class="fa fa-twitter"></i> Войти через twitter
</a>


    </div>
</div>

{% endif %}
{% endblock %}